<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Load jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <!-- Loading page style -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/result.css') }}">

    <title>Europeana Search</title>
  </head>

  <body>
    {% with messages = get_flashed_messages() %}
	   {% if messages %}
	    {% for message in messages %}
		      <div class="alert alert-warning alert-dismissible" role="alert">
		      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			   {{message}}
		    </div>
		    {% endfor %}
	   {% endif %}
	   {% endwith %}

	{% block body %}{% endblock %}
    <header>
      <div class="container">
        <div class="jumbotron">
          <br />
          <a class="cust" href="/"><h1>Europeana Search API</h1></a>
          <br />
          <br />
          <hr class="my-4">
          <br />
          <p align="center">
            Europeana Search API est une application web simple permettant de constituer des corpus <br />à partir des collections disponibles sur <a href="https://www.europeana.eu/portal/fr">le portail d'Europeana</a>.
            <br /><b>Cette application utilise sur l'<a href="https://pro.europeana.eu/resources/apis">API d'Europeana</a> et nécessite une clé publique.</b>
          </p>
          <br />
          <br />
          <h5>Clé publique :</h5>
          <p>Une clé publique est nécessaire pour vous authentifier auprès d'Europeana.<br />Pour récupérer une clé, rendez-vous sur <a href="https://pro.europeana.eu/get-api">cette page</a>.</p>
          <br />
          <h5>Conseils d'utilisation :</h5>
          <ul>
            <li><p>Entrez un mot clés,</p></li>
            <li><p>Choisissez une période limite pour filtrer les résulats,</p></li>
            <li><p>Pour une recherche plus précise : compléter les champs "auteur", "date de création", "provider" ou<br>
              encore le "type" de document</p></li>
          </ul>
        </div>
      </div>
    </header>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <form method="post">

      <!-- Filtre Dublin Core -->
      <div class='container'>
        <div class="jumbotron">
          <h4>Paramètres de la recherche</h4>
          <hr class="my-4">
          <br />
          <div class="row">
           <div class="col-sm-4">

             <label for="keywords"><p>Mots clés :</p></label>
             <input class="form-control" name="keywords" placeholder="ex. Mona Lisa" id="keywords">
           </div>
           <!--
           <div class="col-sm-4">
             <label for="exclude">Mots clé à exclure :</label>
             <input class="form-control" name="exclude" id="exclude">
           </div>
           -->
          </div>
          <br />
          <div class="row">
           <div class="col-sm-4">
             <label for="from"><p>De :</p></label>
             <input class="form-control" name="from" id="from" placeholder="ex. 1930">
           </div>
           <div class="col-sm-4">
             <label for="to"><p>À :</p></label>
             <input class="form-control" name="to" id="to" placeholder="ex. 1975">
           </div>
          </div>

          <br />
          <br />
          <br />
          <br />

          <h4>Paramètres avancés</h4>
          <hr class="my-4">
          <br />
          <div class="row">
           <div class="col-sm-4">
             <label for="creator"><p>Créateur :</p></label>
             <input class="form-control" name="creator" id="creator" placeholder="ex. John Doe">
           </div>
           <div class="col-sm-4">
             <label for="date"><p>Date de création :</p></label>
             <input class="form-control" name="date" id="date" placeholder="aaaa">
           </div>
          </div>
          <br />
          <div class="row">
           <div class="col-sm-4">
             <label for="items_type"><p>Type de document :</p></label>
             <input class="form-control" name="items_type" id="items_type" placeholder="ex. TEXT">
           </div>
           <div class="col-sm-4">
             <label for="items_dataProvider"><p>Provider :</p></label>
             <input class="form-control" name="items_dataProvider" id="items_dataProvider" placeholder="ex. Centre Georges Pompidou">
           </div>
          </div>
        </div>
      </div>


      <div class="container">
        <div class="row">

          <!-- Clé Publique -->
          <div class="col">
            <div class="jumbotron">
              <h4>Authentification</h4>
              <hr class="my-4">
              <br />
              <label for="key"><p>Clé publique :</p></label>
              <input type="text" class="form-control" name="key" id="key" value={{ usr.key }}>
            </div>
          </div>

          <!-- Submit -->
          <div class="col">
            <div class="jumbotron">
              <h4>Exécuter la requête</h4>
              <hr class="my-4">
              <br />
              <br />
              <br />
              <div class="row">
                <div class="col">
                  <input type="submit" class="btn btn-info" value="Envoyer" onclick="warning();"></button>
                  <script>
                    function warning(){
                      document.getElementById('warn_msg').innerHTML = "L'opération peut prendre quelques secondes...";
                    };
                  </script>
                </div>
                <div class="col">
                  <p id="warn_msg"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="jumbotron">
          <h4>Credits</h4>
          <hr class="my-4">
          <br />
          <p>
            Aidez-nous sur <a href=" https://github.com/Humanistica/ArtDesignDH">Github</a>
            <br />
            Version : alpha
          </p>
        </div>
      </div>

    </form>
  </body>
</html>
